<script type="text/javascript">
  $().ready(function(){
      var valueInput = $('input[name=value]');
      valueInput.focus();
      valueInput.select();
  });
</script>
<h1>Roman Numerals</h1>
<p>
  Enter a decimal or roman numeral value and press to convert it.
</p>
<form method="get">
  <%= label_tag(:value, "Value:") %>
  <%= text_field_tag(:value, @converted) %>
  <input type="submit" value="Convert"></input>
</form>
